.create-server-form-container {
  padding: 15px;

  form {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      color: #7289da;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 18px;
      padding: 10px;
    }

    .server-errors-list {
      min-height: 16px;
    }

    .server-error {
      color: red;
      padding: 0;
    }

    p {
      color: #a9a9a9;
      font-weight: 500;
      padding: 30px 10px;
    }

    .server-input-section {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
    }

    label {
      text-align: left;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-transform: uppercase;
        color: #656565;
        font-weight: 600;
        font-size: 12px;
        padding: 0;
      }

      input[type="text"] {
        font-size: 14px;
        padding: 5px 0;
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 1px solid #efefef;
        margin: 15px 0;
      }

      input[type="text"]:focus {
        margin: 15px 0 14px 0;
        border-bottom: 2px solid #7289da;
      }
    }

    button {
      color: white;
      background: #7289da;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      align-self: flex-end;
      border: 0;
    }

    button:hover {
      background: #506098;
      transition: background, 0.2s;
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    .server-photo-input-label {
      align-items: center;

      .server-photo-input-placeholder {
        text-align: center;
        color: white;
        width: 100px;
        height: 100px;
        background: #7289da;
        border: 5px solid #e4e4e4;
        border-radius: 100px;

        p {
          display: none;
          color: white;
        }

        p:first-child {
          padding-top: 37px;
        }
      }

      .server-photo-input-placeholder:hover {
        cursor: pointer;
        background: radial-gradient(#7289da, rgba(0,0,0,1));
        opacity: 0.9;
      }
    }

    input[type="file"] {
      display: none;
    }

    .server-input-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .server-photo-filename {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
