.splash-container {
  /* source: https://pixabay.com/en/game-gaming-gaming-console-gamer-1926907/ */
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://cdn.pixabay.com/photo/2016/12/23/07/01/game-1926907_1280.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  min-height: 120vh;

  h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding: 50px 0 20px 0;
  }

  p {
    text-align: center;
    color: lightgray;
    font-size: 16px;
    padding: 5px;
  }
}
