.membership-index-container {
  min-width: 240px;
  overflow: scroll;
  background: #2C2F33;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  flex-grow: 1;

  h1 {
    padding: 10px;
  }

  ul {

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      white-space: nowrap;
      overflow: hidden;

      .member-photo {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        padding-right: 5px;
      }
    }

    li:hover {
      cursor: pointer;
      background: #383838;
    }
  }
}
