.membership-index-container {
  min-width: 240px;
  max-width: 240px;
  overflow: scroll;
  background: #2C2F33;
  box-sizing: border-box;
  color: rgba(255,255,255,0.8);
  flex-grow: 1;

  .membership-list {
    overflow: scroll;
    min-height: 100%;
    max-height: 100%;

    .membership-sub-list {
      padding: 10px;

      h2 {
        padding: 10px 0;
        text-transform: uppercase;
      }
    }
  }
}

.member-info {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;

  .member-photo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
  }

  .member-photo-offline {
    filter: saturate(0);
  }

  .member-username-offline {
    filter: saturate(50%);
  }
}

.member-info:hover {
  cursor: pointer;
  background: #383838;
}
