.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  background: rgba(32,34,37,.3);
  z-index: 5;

  .user-info-username {
    font-weight: 100;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }

    h4 {
      font-size: 14px;
      color: white;
      padding-bottom: 4px;
      padding-left: 4px;
    }

    p {
      font-size: 12px;
      padding-left: 4px;
      color: gray;
    }
  }

  i {
    font-size: 16px;
    padding: 10px;
    color: gray;
  }

  i:hover {
    cursor: pointer;
    background: #252525;
    color: white;
  }
}
