.app-container {
  display: flex;
  height: 100vh;

  .app-server-column {
    min-width: 80px;
  }

  .app-channel-column {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app-main-column {
    display: flex;
    flex-grow: 1;

    .app-message-column {
      flex-grow: 1;
    }
  }
}
