.app-container {
  display: flex;
  min-height: 100vh;

  .app-server-column {
    min-width: 80px;
    height: 100%;
  }

  .app-channel-column {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .app-server-channel {
      min-width: 240px;
      height: calc(100% - 56px);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .app-main-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .app-message-membership {
      display: flex;
      height: 100%;
      flex-shrink: 10000;

      .app-message-column {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .app-memberships-column {
        display: flex;
        flex-direction: column;
      }
    }

  }
}
