.cssload-loader-inner {
	bottom: 0;
	height: 143px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 238px;
}

.cssload-cssload-loader-line-wrap-wrap {
	animation: cssload-spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	-o-animation: cssload-spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	-ms-animation: cssload-spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	-webkit-animation: cssload-spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	-moz-animation: cssload-spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 119px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	width: 238px;
}

.cssload-loader-line-wrap {
	border: 10px solid transparent;
	border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 238px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 238px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) {
  animation-delay: -37.5ms;
	-o-animation-delay: -37.5ms;
	-ms-animation-delay: -37.5ms;
	-webkit-animation-delay: -37.5ms;
	-moz-animation-delay: -37.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) {
  animation-delay: -75ms;
	-o-animation-delay: -75ms;
	-ms-animation-delay: -75ms;
	-webkit-animation-delay: -75ms;
	-moz-animation-delay: -75ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) {
  animation-delay: -112.5ms;
	-o-animation-delay: -112.5ms;
	-ms-animation-delay: -112.5ms;
	-webkit-animation-delay: -112.5ms;
	-moz-animation-delay: -112.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) {
  animation-delay: -150ms;
	-o-animation-delay: -150ms;
	-ms-animation-delay: -150ms;
	-webkit-animation-delay: -150ms;
	-moz-animation-delay: -150ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) {
  animation-delay: -187.5ms;
	-o-animation-delay: -187.5ms;
	-ms-animation-delay: -187.5ms;
	-webkit-animation-delay: -187.5ms;
	-moz-animation-delay: -187.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
	border-color: rgba(114,136,218,1);
	height: 214px;
	width: 214px;
	top: 17px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
	border-color: rgba(114,136,218,1);
	height: 181px;
	width: 181px;
	top: 33px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
	border-color: rgba(114,136,218,1);
	height: 147px;
	width: 147px;
	top: 50px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
	border-color: rgba(114,136,218,1);
	height: 114px;
	width: 114px;
	top: 67px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
	border-color: rgba(114,136,218,1);
	height: 81px;
	width: 81px;
	top: 83px;
}

@keyframes cssload-spin {
	0%, 15% {
		transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	0%, 15% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	0%, 15% {
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	0%, 15% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	0%, 15% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
