.message-index-container {
  background: #353940;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  ul {
    overflow: auto;

    li {
      display: flex;
      align-items: flex-start;
      padding: 7px 5px;
      width: 100%;
      box-sizing: border-box;

      .message-created-at {
        padding-left: 10px;
        color: rgba(255,255,255,0.3);
        font-size: 12px;
        font-weight: 100;
        min-width: 50px;
        white-space: nowrap;
        text-align: right;
      }

      .message-body {
        display :flex;
        padding-left: 10px;

        .message-author {
          color: white;
          font-size: 14px;
          font-weight: 400;
        }

        .message-content {
          color: rgba(255,255,255,0.8);
          width: 100%;
          font-size: 14px;
          font-weight: 300;
          padding-left: 10px;
          word-break: break-word;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
